<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="home.component.css" rel="stylesheet" type="text/css">
    
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
  </head>

  
  
  <div class="pictures">
    <img src="assets/main/picture1.jpg" style="width: 100%; height: 100%;" *ngIf="displayPicture1 == true">
    <img src="assets/main/picture2.jpg" style="width: 100%; height: 100%;" *ngIf="displayPicture2 == true">
    <img src="assets/main/picture3.jpg" style="width: 100%; height: 100%;" *ngIf="displayPicture3 == true">
    <img src="assets/main/picture4.jpg" style="width: 100%; height: 100%;" *ngIf="displayPicture4 == true">
    <img src="assets/main/picture5.jpg" style="width: 100%; height: 100%;" *ngIf="displayPicture5 == true">
    <img src="assets/main/picture6.jpg" style="width: 100%; height: 100%;" *ngIf="displayPicture6 == true">
  </div>
  <div class="selection-bar">
    <div class="circle" id="circle1" (click)="switchPicture1()" *ngIf="displayPicture1 == false">
      <p>&bigcirc;</p>
    </div>
    <div class="clicked-circle" id="circle1" (click)="switchPicture1()" *ngIf="displayPicture1 == true">
      <p>&bigcirc;</p>
    </div>
    <div class="circle" id="circle2" (click)="switchPicture2()" *ngIf="displayPicture2 == false">
      <p>&bigcirc;</p>
    </div>
    <div class="clicked-circle" id="circle2" (click)="switchPicture2()" *ngIf="displayPicture2 == true">
      <p>&bigcirc;</p>
    </div>
    <div class="circle" id="circle3" (click)="switchPicture3()" *ngIf="displayPicture3 == false">
      <p>&bigcirc;</p>
    </div>
    <div class="clicked-circle" id="circle3" (click)="switchPicture3()" *ngIf="displayPicture3 == true">
      <p>&bigcirc;</p>
    </div>
    <div class="circle" id="circle4" (click)="switchPicture4()" *ngIf="displayPicture4 == false">
      <p>&bigcirc;</p>
    </div>
    <div class="clicked-circle" id="circle4" (click)="switchPicture4()" *ngIf="displayPicture4 == true">
      <p>&bigcirc;</p>
    </div>
    <div class="circle" id="circle5" (click)="switchPicture5()" *ngIf="displayPicture5 == false">
      <p>&bigcirc;</p>
    </div>
    <div class="clicked-circle" id="circle5" (click)="switchPicture5()" *ngIf="displayPicture5 == true">
      <p>&bigcirc;</p>
    </div>
    <div class="circle" id="circle6" (click)="switchPicture6()" *ngIf="displayPicture6 == false">
      <p>&bigcirc;</p>
    </div>
    <div class="clicked-circle" id="circle6" (click)="switchPicture6()" *ngIf="displayPicture6 == true">
      <p>&bigcirc;</p>
    </div>
  </div>
  
  <div class = "bottom-bar">
    <div class = "info">
        Artur Auto<br>
        Via Aldo Moro 37,71029 Troia <br>
        arturauto.com
    </div>
    <div class = "map">
      <img src = "assets/main/map.png" style = "width: 100%; height: 350px; border-radius: 50px;">
    </div>
  </div>