

<head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="footer.component.css" type="text/css">
    
<!--link versione nuova--> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
<footer id="footer" >
    <div class="container" >
      <div class="row">
        <div class="col"> 
          <h2>SEDE DI TROIA</h2>
          <p>
            Via Aldo Moro, 37  
            71029 Troia (FG) <br>
            Arturo Martino: +39 320 138 8246 <br>
            Giovanni Martino: +39 335 582 3725
            Telefono: +39 099 844 24 44 <br>
            Email: Arturautogmail.com
          </p>
          <img src="assets/artur.png">
        
        </div>
        <div class="col">
          <h2>DATI FISCALI</h2>
          <p>
            Arturo Martino <br>
                    Via Aldo Moro, 37  
                    71029 Troia FG
            
          </p>
          
          <p>
            C.F/P.IVA: 02735640738 <br>
                    Registro delle imprese: <br>FG
                    REA: FG-166278
          </p>
        </div>
        <div class="col">
          <h2>LINK VELOCI </h2>
          <ul class="list-unstyled">
            <li class="li1"><a href="#">Home</a></li> 
            <li class="li1"><a href="#">Informations</a></li>
            <li class="li1"> <a href="#">Contact</a></li>
            <li class="li1"><a href="#">Car List</a></li>
          </ul></div>
        <div class="col">
          <h2>HAI DOMANDE ?</h2>
          <ul class="list-unstyled">
                <li class="li2">Per qualsiasi tipo di domande contattare:</li>
                <li class="li2">+39 320 138 8246</li>
                <li class="li2">Arturautogmail.com</li>
                <li class="li2">Compila il form nella sezione <a href="#">contatti</a></li>
              </ul>
            </div>
      </div>
    </div>
   </footer>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>    
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  
   <!--link vesione nuova-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>