.col-5 img{
    max-width: 100%;
}
#contenitorenav{
    margin-top: 5%;
}

#contenitore{
    margin-top: 5%;
}
#contenitore img{
    max-width: 100%;
}
#titolo{
    text-align: center;
    margin-top: 7%;
}
#link{
    color:red;
}
