
#carosello{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-bottom: 5%;
  }
  
  #carosello img{
    max-width: 100%;
    height: auto;
  }
  
  .float-left{
    margin-bottom: 3%;
    margin-left: 3%;   
  }

  #contenitore2{
      margin-bottom: 5%;
  }
  #contenitore2  h3{
  margin-bottom: 4%;
      
  }
  #contenitore3 h3{
      margin-bottom: 4%;
  }
  
  #contenitore3{
    margin-bottom: 5%;
  }
  
  #contenitore4 h3{
    margin-bottom: 4%;
        
  }
  
  
  