<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
      <link href="contact.component.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
  
  <!--contact form-->
  <div id="back">
    <div class="container" id="containerform">
      <div class="row">
        <div class="col-6">
          <h1><strong>Contattaci</strong></h1>
          <br><br>
          Via Aldo Moro, 37 <br>
          71029 Troia FG<br>
          telefono: +39 320 138 8246<br>
          
          <div class="icon">
          <a href="https://www.facebook.com/profile.php?id=100057620522244" class="fa fa-facebook"></a>
          <a href="https://instagram.com/arturauto_di_venezianomaria?igshid=MXQ4NzI3cnBvYThkeA== "
            class="fa fa-instagram"></a>
          </div>
        </div>
        
        <div class="col-6" id="form">
          <form [formGroup]="homeform" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nome</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="inserisci il nome" formControlName="nome">
          </div>
          <p *ngIf="!homeform.get('nome')?.valid && homeform.get('nome')?.touched"> Inserisci nome </p>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Cognome</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="inserisci il cognome" formControlName="cognome">
          </div>
          <p *ngIf="!homeform.get('cognome')?.valid && homeform.get('cognome')?.touched"> Inserisci cognome </p>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Indirizzo email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="inserisci email" formControlName="email">
          </div>
          <p *ngIf="!homeform.get('email')?.valid && homeform.get('email')?.touched"> Inserisci una email </p>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Messaggio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="messaggio"></textarea>
          </div>
          <p *ngIf="!homeform.get('messaggio')?.valid && homeform.get('messaggio')?.touched"> Inserisci messaggio    </p>
          <button type="submit" class="btn btn-primary" id="bottone" [disabled]="!homeform.valid">Invia</button>
        </form>
        </div>
        <div *ngIf="formSubmitted">Messaggio invio completato! Il form è stato inviato con successo.</div>

     
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
  
  